<div class="card">
<div class="card-header text-center" ng-if="videos != 'player'">
		Regarder une vidéo <span ng-if="!parentVideo">: appuyer pour choisir</span><span ng-if="parentVideo">: {{ parentVideo }}</span>
</div>

<div class="card-header text-center" ng-if="videos == 'player'">
		Regarder {{ parentVideo }}</span>
</div>

<div class="card-body text-center">
		<ul class="list-inline" ng-if="videos != 'player'">
				<li ng-repeat="video in videos">
						<a style="margin: 3px" class="btn btn-primary" ui-sref="video-player({'video': parentVideo + '/' + video})">
								{{ video }}
						</a>
				</li>
		</ul>
		<div ng-if="videos == 'player'">
			<p class="text-center">
			<button class="btn-sm btn-primary" ng-click="playerCommand('play', parentVideo)">lecture</button>
			<button class="btn-sm btn-primary" ng-click="playerCommand('pause')">pause / lecture</button>
			<button class="btn-sm btn-danger" ng-click="playerCommand('stop')">stop</button>
			</p>

			<p ng-if="status == 200 && command == 'play'">
			La lecture de la vidéo va commencer.
			</p>
			<p ng-if="status == 400 && command == 'play'">
			Une vidéo est déjà en cours de lecture, faire stop d'abord.
			</p>
			<p ng-if="status == 200 && command == 'stop'">
			La vidéo est arrêtée. Appuyer sur la touche TV de la télécommande pour remettre la télé.
			</p>
		</div>
</div>
</div>
